html, body {padding: 0; margin:0; box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}
.main {
    background: url(images/photo1.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container {
    max-height: 784px;
    width: 100%;
    height: 100%;
    margin: auto 64 auto 0;
    font-family: sit;
}
.head {
    color: white;
    display: flex;
    justify-content: space-between;
}
.info {
    display: flex;
}
.img1 {
    border-radius: 59.5px;
    margin-left: 45px;
}
.name {
    font-size: 25;
    margin: 20;
}
p {
    margin: 0;
}
.nav {
    display: flex;
    width: 462px;
    justify-content: space-between;
}
.link {
    color: white;
    font-size: 30;
}
.number {
    font-size: 22;
}
.text {
    color: white;
    width: 718px;
}
h1 {
    text-align: center;
    font-size: 50;
    margin-bottom: 0;
    margin-top: 120px;
}
p{
    text-align: center;
    font-family: Cambria;
    font-size: 29;
    padding-left: 10px;
}
.line:after {
    content: "";
    display: block;
    width: 694px;
    height: 4px;
    background-color: white;
    margin-top: 2px;
}
.button {
    display: inline-block;
    padding: 15px 57px;
    border: 3px solid white;
    border-radius: 40px;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 25;
    width: 210px;
    margin: 0px 15px;
    cursor: pointer;
}
.click {
    width: 718px;
    display: flex;
    justify-content: center;
    margin-top: 115px;
}
.mini1 {
    content: "";
    display: block;
    width: 51px;
    height: 1px;
    background-color: white;
    margin: auto 0;
}
.mini2 {
    content: "";
    display: block;
    width: 51px;
    height: 1px;
    background-color: white;
    margin: auto 0;
}
.arrow {
    color: white;
    font-size: 35;
    text-decoration: none;
}
.up {
    margin-top: 65px;
    width: 718px;
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    margin: 0;
    justify-content: flex-end;
}
.button2 {
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 25;
    width: 52px;
    height: 52px;
    margin: 0px 15px;
    opacity: 0.5;
    padding: 8 0;
}
.sec {
    margin: auto 0;
    opacity: 0.9;
}
.menu a:hover {
    opacity: 0.9;
    transition: 1s;
}
.second {
    max-height: 353px;
    height: 100%;
    width: 100%;
    padding: 74 60 0 102;
}
h2 {
    margin: 0;
    text-align: center;
    font-weight: 900;
    font-size: 40;
    font-family: sans-serif;
}
.blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
h3 {
    text-align: center;
    margin: 20 0 10 0;
    font-weight: 900;
    font-size: 24;
}
.extra {
    text-align: center;
}
.description {
    text-align: center;
    font-family: Cambria;
    font-size: 14;
}
.third {
    max-height: 645px;
    height: 100%;
    width: 100%;
    padding: 54 0 0 102;
}
.youth {
    max-width: 750px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.bio {
    display: flex;
    justify-content: space-between;
}
h4 {
    text-align: left;
    font-size: 35;
    margin: 0 0 39 0;
}
.jack {
    font-size: 20;
    text-align: left;
    padding: 0;
}
.trash {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
}
.don {
    border: 3px solid black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 24;
    padding: 10;
}
.fa-male {
    padding: 10 15;
}
.fa-map-pin {
    padding: 10 15;
}
.lorem {
    display: flex;
    margin-bottom: 4px;
}
.new {
    margin: auto 0 auto 54px;
}
.two {
    display: inline-block;
    padding: 15px 57px;
    border: 3px solid #e69d47;
    border-radius: 40px;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #e69d47;
    font-size: 25;
    width: 210px;
    margin: 64 0 0 112;
}
.photo3 {
    margin-top: 18px;
    background: url(images/photo2.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 571px;
    position: relative;
}
.grad1 {
    height: 84px;
    background: linear-gradient(to top, transparent, white) center no-repeat;
}
.grad2 {
    position: absolute;
    width: 192px;
    height: 571px;
    background: linear-gradient(to left, transparent, white) center no-repeat;
}
.fourth {
    max-height: 263px;
    height: 100%;
    width: 100%;
}
.shoot {
    padding-top: 72.5px;
    text-transform: uppercase;
    font-size: 36;
}
.examples {
    font-size: 48;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 72.5px;
    padding: 0;
}
.works {
    max-height: 529px;
    height: 100%;
    width: 100%;
    background-color: #d7d7d7;
}
.fifth {
    padding: 63 58 57 63;
}
.arrph {
    height: 196px;
    display: flex;
    justify-content: space-between;
}
.img3 {
    height: 196px;
}
.photos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 7;
}
.thrd {
    color: black;
    margin: auto 0;
}
.land {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 28;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 90px;
    padding: 0 50;
}
.order {
    max-height: 928px;
    height: 100%;
    width: 100%;
    padding: 74 14.5% 37 12.64%;
}
.six {
    width: 100%;
    max-height: 817px;
    height: 100%;
}
.discretion {
    margin-top: 30px;
    font-size: 28;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.next {
    margin-top: 0px;
}
.mix {
    display: flex;
    justify-content: space-between;
}
.imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 615px;
    margin-top: 22px;
}
.img4 {
    width: 570px;
    height: 299px;
}
.inter {
   max-width: 630px;
   width: 100%;
   height: 100%;
}
.cost {
    text-transform: lowercase;
    margin-top: 135px;
    width: 100%;
}
.gradient-line {
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, #acacae, white) center no-repeat;
    position: relative;
    margin-left: 100px;
}
.gradient-line:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    border-bottom: 18px solid #acacae;
    border-left: 18px solid transparent;
    left: -20px;
}
.far {
    font-size: 48;
    margin-left: 50%;
    margin-top: 45px;
}
.three {
    display: inline-block;
    padding: 9px 0px;
    border: 3px solid #e69d47;
    border-radius: 40px;
    background-color: transparent;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 48;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 185px;
    margin-left: 38%;
    margin-top: 42px;
}
.band {
    max-height: 35px;
    height: 100%;
    width: 100%;
    background-color: #424141;
    background: linear-gradient(to bottom, #424141, white) center no-repeat;
}
.foot {
    background-color: #d7d7d7;
    max-height: 132px;
    height: 100%;
    width: 100%;
    color: black;
    padding-right: 64px;
}
.last {
    color: black;
    margin: auto 0;
}